<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="/js/home/join.js" defer></script>
  <title>joinPlayer</title>
</head>
<body>
  <input id="Id" type="text" placeholder="아이디"><br>
  <input id="Name" type="text" placeholder="이름"><br>
  <input id="psword" type="text" placeholder="비밀번호"><br>
  <input id="pswordOk" type="text" placeholder="비밀번호 확인"><br><br>
  <button id="joinPlayer">plusPlayer</button>
</body>
</html>