<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/js/home/login.js" defer></script>
    <!-- defer과 async가 있다. -->
    <!-- 알아보기 -->
    <title>login Page</title>
</head>
<body>
    <input id="Id" type="text" placeholder="아이디"><br>
    <input id="Psword" type="text" placeholder="비밀번호"><br>
    <button id="loginBtn">로그인</button>
    <button id="plusBtn">회원가입</button>
</body>
</html>